a {
  text-decoration: none;
  color: #557174;
}
html,
body {
  height: 100%;
}

body {
  background-color: #f7f7e8;
  color: #557174;
  display: flex;
  flex-direction: column;
  font-family: "Annie Use Your Telescope", sans-serif;
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

footer {
  background-color: #9dad7f;
  color: #f7f7e8;
  flex-shrink: 0;
  padding: 1rem;
}

header {
  background-color: #557174;
  color: #f7f7e8;
  margin: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.blue {
  color: #5eaaa8;
}

.content {
  flex: 1 0 auto;
}

.error {
  color: #bc5148;
  text-align: start;
  margin: 0rem 2.5rem
}

.game {
  margin: 2rem;
}

.instructions {
  padding: 2rem;
}

.game-board {
  background: #c7cfb7;
  border: 1px solid #557174;
  border-radius: 10px;
  margin: auto;
  padding: 1rem;
  width: fit-content;
}

.kbd-navigation .square:focus {
  background: #9dad7f;
}

.meeple {
  height: 2rem;
  width: 2rem;
}

.menu {
  background: #c7cfb7;
  border: 1px solid #557174;
  border-radius: 10px;
  margin: 3rem auto;
  padding: 1rem;
  width: fit-content;
}

.menu-button {
  background: #557174;
  border: 1px solid #557174;
  border-radius: 5px;
  color: #f7f7e8;
  font-family: "Cabin Sketch", serif;
  font-size: 1.5rem;
  font-weight: 400;
  min-width: 6rem;
  padding: .5rem;
}

.menu-input {
  background: white;
  border: 1px solid #557174;
  border-radius: 5px;
  color: #557174;
  font-family: "Cabin Sketch", serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5rem;
  margin: .5rem;
  text-align: center;
  width: 50%;
}

.orange {
  color: #f87829;
}

.social-icon {
  height: 1.5rem;
  padding: 0 4px;
  width: 1.5rem;
}

.square {
  background-color: #c7cfb7;
  border: none;
  padding: 1px;
  height: 2.5rem;
  width: 2.5rem;
}

.square:focus {
  outline: none;
}

.square.win {
  background: #9dad7f;
  border: 1px solid #557174;
  border-radius: 5px;
}

.status {
  color: #557174;
  font-size: 1.5rem;
  margin: 1rem;
}

.subtitle {
  font-family: "Cabin Sketch", serif;
  font-size: 2rem;
  font-weight: 400;
}

.tie {
  color: #bc5148;
}

.title {
  font-family: "Cabin Sketch", serif;
  font-size: 3.5rem;
  font-weight: 700;
}

.title.blue {
  color: #a3d2ca;
}

.title.orange {
  color: #fa8f4d;
}
